models/models
libtorch/bin
libtorch/include
libtorch/lib
libtorch/share
rust/native
prometheus/prometheus
cadvisor/cadvisor
rust/wasm/target
myenv
wasmedge/bin
wasmedge/include
wasmedge/lib64
wasmedge/plugin
wasm/*.wasm
docker/*.tar
native/torch_image_classification
ubuntu_files
results/*